* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #FFFFFF;
    --color-secondary: #67B7D1;
    --color-blue: #f56692;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    /* --color-grey-5: #f8f8f8; */
    --color-grey-5: #e4dbdb;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary)!important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white)!important;
    transition: all .4s ease-in-out;
}

.bx-menu {
    position: fixed;
    right: 2.5rem;
    display: inline;
    z-index: 10;
    justify-content: right;
    align-items: center;
    font-size: 3rem;
}

.nav-links {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8294C4;
    padding: 0px 40px;
    padding-right: 7rem;
    width: 100%;
    position: fixed;
    height: 50px;
    justify-content: right;
    gap: 30px;
    z-index: 1;
    align-items: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    min-height: 100vh;
    color: var(--color-white)!important;
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3rem 18rem;
    flex-direction: column;
}


/* .section {
    transform: translate(-100%);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
} */

.sec1 {
    display: inline;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: inline;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: inline;
    transform: translateY(0) scale(1);
}

.sec5 {
    display: inline;
    transform: translateY(0) scale(1);
}

.active {
    display: inline-block;
    animation: scaleAnim is ease-in-out;
    @keyframes scaleAnim {
        0 {
            transform: translateY(-100%) scaleY(0)
        }
        inline-block 100% {
            transform: translateY(0) scaleY(1)
        }
    }
}


/* header content */

.header-content {
    background-image: url(../img/header.jpg);
    background-size: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}

.right-header {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10rem;
}

.h-shape {
    transition: all .4s ease-in-out;
    width: 65%;
    height: 100%;
    background-color: var(--color-secondary)!important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

.image {
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    margin-right: 4rem;
    background-color: var(--color-secondary)!important;
    transition: all .4s ease-in-out;
}

.image img {
    width: 24rem;
    height: 24rem;
    object-fit: cover;
    transition: all .4s ease-in-out;
    filter: grayscale(100%);
    position: relative;
    left: 0.5rem;
    top: 0.5rem;
    border-radius: 50%;
}

.image img:hover {
    filter: grayscale(0);
}

.my-image {
    max-width: 115%;
    height: 100%;
}

.left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18rem;
}

.name {
    font-size: 3rem;
}

.name span {
    color: var(--color-grey-3)!important;
    font-size: 2rem;
}

.right-header p {
    margin: 1.5rem 0;
    line-height: 2rem;
}


/* About section */

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    padding-right: 12rem;
    padding-left: 12rem;
}

.right-about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    position: relative;
    left: 4rem;
}

.about-item {
    border: 1px solid var(--color-grey-5)!important;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
    height: 14rem;
    position: relative;
    top: 1rem;
}

.about-item:hover {
    cursor: default;
    transform: translate(-5px);
    border: 1px solid var(--color-secondary)!important;
}

.about-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.large-text {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-grey-1)!important;
}

.small-text {
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--color-grey-1)!important;
    letter-spacing: 2px;
}

.small-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-5)!important;
}

.left-about {
    padding-right: 1rem;
}

.left-about p {
    line-height: 2rem;
    padding: 1rem;
    color: var(--color-grey-1)!important;
}

.left-about h4 {
    font-size: 2rem;
    text-transform: uppercase;
}

.about-status {
    padding-bottom: 4rem;
    padding-left: 12rem;
    padding-right: 15rem;
}

.progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
}

.prog-title {
    text-transform: uppercase;
    font-weight: 500;
}

.progress-con {
    display: flex;
    align-items: center;
}

.prog-text {
    color: var(--color-grey-2)!important;
}

.progress {
    width: 100%;
    height: .45rem;
    background-color: var(--color-grey-4)!important;
    margin-left: 1rem;
    position: relative;
}

.progress span {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: var(--color-secondary)!important;
    transition: all .4s ease-in-out;
}

.html {
    width: 85%;
}

.css {
    width: 78%;
}

.django {
    width: 80%;
}

.js {
    width: 75%;
}

.php {
    width: 55%;
}

.react {
    width: 65%
}

.stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
}

.stat-title::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5)!important;
    transform: translateX( -50%);
}


/* portfollio section */

.portfolio {
    padding-bottom: 6rem;
}

.port-text {
    padding: 2rem;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    padding-left: 12rem;
    padding-bottom: 10rem;
}

.portfolio-item {
    position: relative;
}

.image-port img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 15px;
}

.hover-items {
    width: 20rem;
    height: 15rem;
    background-color: var(--color-secondary)!important;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.hover-items h3 {
    font-size: 1.5rem;
    color: var(--color-white)!important;
    margin-bottom: 1.5rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    background-color: var(--color-primary)!important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.icon i {
    font-size: 1.5rem;
    color: var(--color-white)!important;
    margin: 0 1rem;
}

.icon:hover {
    background-color: var(--color-white)!important;
}

.icon:hover i {
    color: var(--color-primary)!important;
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

.icon-prog {
    position: relative;
    top: 2rem;
    left: 7.5rem;
    cursor: default;
}


/* Contact Section */

.contact-container {
    padding-top: 1rem;
}

.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
}

.left-contact {
    padding-left: 12rem;
    flex: 2;
}

.left-contact h4 {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
}

.contact-info {
    display: grid;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-item p {
    margin: 0.3rem 0 !important;
    padding: 0 !important;
}


/* .contact-item.ic{
    display: grid;
    grid-template-columns:40px 1fr;

} */

.ic {
    display: flex;
    justify-content: space-between;
}

.ic span {
    position: relative;
    left: 0.5rem;
}

.ic i {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.contact-icon {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: fixed;
    top: 11rem;
    left: 5rem;
}

.contact-icon a {
    display: flex;
    align-items: center;
    color: var(--color-white)!important;
    background-color: var(--color-grey-5)!important;
    cursor: pointer;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0.4rem;
    transition: all 0.4s ease-in-out;
    margin-top: 1rem;
}

.contact-icon a:hover {
    background-color: var(--color-secondary)!important;
}

.contact-icon i:hover {
    color: var(--color-primary)!important;
}

.contact-icon a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.right-contact {
    flex: 3;
    margin-left: 3rem;
    padding-right: 5rem;
}

.input-control {
    margin: 1.5rem 0;
}

.input-control input,
textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: .8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey-5)!important;
    width: 100%;
    color: var(--color-white)!important;
    resize: none;
}

.i-c-2 {
    display: flex;
}

.i-c-2-child {
    margin-left: 1.5rem;
}

.submit-btn {
    display: flex;
    justify-content: flex-start;
}


/*independent component*/

.btn-con {
    display: flex;
    align-self: flex-start;
}

.btn-con1 {
    display: flex;
    align-self: flex-start;
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary)!important;
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.btn-text {
    padding: 0 2rem;
}

.btn-text1 {
    padding: 0 2rem;
}

.btn-icon {
    background-color: var(--color-secondary)!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.btn-icon1 {
    background-color: var(--color-secondary) !important;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
}

.main-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    transition: all .4s ease-out;
    z-index: -1;
}

.main-btn:hover::before {
    transition: all .4s ease-out;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary)!important;
    transform: translateX(0);
}

.main-title {
    text-align: center;
}

.main-title h2 {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}

.main-title h2 span {
    color: var(--color-secondary)!important;
    text-shadow: 3px 3px 0px #e7eef1, 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.bg-text {
    position: absolute;
    top: 50%;
    left: 10%;
    color: var(--color-grey-5);
    transition: all .4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
}

.more {
    display: none;
}